@use "../../abstracts/Variables" as *;

.sign-in-outer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $bg-primary-light-pink;

  .no-account {
    padding: 4rem;
    white-space: pre-wrap;
    font-family: $ff-text;
    color: $clr-accent-dusty-wine;
    font-size: $fs-m;
    white-space: nowrap;

    .link-register {
      text-decoration: none;
      color: $clr-primary-dull-rose;
      font-family: $ff-tiny-utilities;
      font-size: $fs-m;

      &:hover {
        color: $clr-accent-light-wheat;
        text-shadow: $text-hightlight-primary;
      }
    }
  }
}

.sign-in {
  border-radius: 70px;
  padding: 4rem;
  background-color: $bg-accent-dull-sakura;
  &__inner-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    label {
      font-weight: 600;
      font-family: $ff-text;
      border: none;
      font-size: $fs-s;
      color: $clr-accent-dusty-wine;
      user-select: none;
      white-space: nowrap;
      text-align: center;
    }
    input {
      font-family: $ff-text;
      border: none;
      font-size: $fs-xs;
      color: rgb(black, 0.8);
      font-weight: 350;
    }
  }

  .formButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 3rem;

    .submit {
      background-color: $bg-primary-dull-rose;
      color: $clr-primary-white;

      &:disabled,
      &:disabled:hover,
      &:disabled:active {
        background-color: #c39ea0;
        color: #846c6d;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
    .cancel {
      background-color: $bg-primary-dull-rose;
      color: $clr-primary-white;
    }
  }
}

@media screen and (min-width: $bp-small-screen) {
  .sign-in-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    width: 100%;

    .sign-in {
      width: 40%;
      min-width: 25rem;
      & * {
        font-size: $fs-s;
      }
    }

    .no-account {
      padding: 1rem;
      font-size: $fs-s;
      text-align: center;
    }
  }
}

@media screen and (max-width: $bp-small-screen) {
  .sign-in-outer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 1rem;

    .sign-in {
      width: 100%;
      max-width: 30rem;
      padding: 1.5rem;
      & * {
        font-size: $fs-xs;
      }
    }

    .no-account {
      padding: 1rem;
      font-size: $fs-s;
      text-align: center;
    }
  }
}
