@use "../../abstracts/Variables" as *;

// .sign-in-outer-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   min-height: 100vh;
//   background-color: $bg-primary-light-pink;
// }

.addPost-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.addPost {
  width: 60%;
  min-width: min-content;
  height: 40%;
  padding: 4rem;
  background-color: $bg-accent-dull-sakura;

  &__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    label {
      font-weight: 600;
      font-family: $ff-text;
      border: none;
      font-size: $fs-xs;
      color: $clr-accent-dusty-wine;
      user-select: none;
      margin-right: 10%;
      white-space: nowrap;
    }
    input,
    textarea {
      font-family: $ff-text;
      border: none;
      font-size: $fs-xs;
      width: 50%;
      color: rgb(black, 0.8);
      font-weight: 350;
    }

    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .text-group {
      textarea {
        resize: vertical;
        padding: 2rem 1.2rem 1.3rem 1.2rem;
        height: min-content;
        min-height: 15rem;
        width: 70%;
      }
    }

    .category-group {
      display: grid;
      row-gap: 1rem;
      justify-content: end;
      label.dropdown__top {
        margin: 0;
      }
    }

    .file-group {
      justify-content: right;
      .custom-file-input {
        color: $clr-primary-white;
        background-color: $bg-primary-dull-rose;
        margin: 0;
        &:hover {
          box-shadow: none;
        }
      }

      input[type="file"] {
        display: none;
      }
    }
  }

  .formButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 3rem;

    .submit {
      background-color: $bg-primary-dull-rose;
      color: $clr-primary-white;

      &:disabled,
      &:disabled:hover,
      &:disabled:active {
        background-color: #c39ea0;
        color: #846c6d;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
    .cancel {
      background-color: $bg-primary-dull-rose;
      color: $clr-primary-white;
    }
  }
}

@media screen and (max-width: $bp-big-screen) {
  .addPost {
    width: 80%;
  }
}
