@use "../../../abstracts/Variables" as *;

.searchManagement {
  position: relative;
  z-index: 999;
  display: flex;
  column-gap: 2rem;
  width: 70%;
  min-width: min-content;
  background-color: $bg-accent-dull-sakura;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 50px;
}

@media screen and (max-width: $bp-medium-screen) {
  .searchManagement {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 5rem;
    padding: 2rem;

    & *:not(.ageInput__buttons > *, .itemLabel) {
      font-size: $fs-xs !important;
    }

    .dropdown {
      grid-row: 2;
    }

    .searchBar {
      padding: 0.5rem;
      grid-column: 1;
      grid-row: 1;
      &__searchInput {
        max-width: 9rem;
      }
    }

    .ageInput-container {
      width: 4.5rem;
      justify-self: center;
      .ageInput {
        max-width: 1.5rem;

        &__buttons {
          padding: 0.3rem 0.3rem 0.3rem 0;
          & > * {
            font-size: $fs-s;
          }
        }
      }
    }
  }

  @media screen and (max-width: $bp-extra-small-screen) {
    .searchManagement {
      width: 97%;
      min-width: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between;
      justify-items: left;
      align-items: center;
      row-gap: 1rem;
      column-gap: 0.5rem;
      padding: 5vw;
    }

    .searchBar {
      max-width: 12rem;
      padding: 0.5rem;
      grid-column: 1;
      grid-row: 1;
      &__searchInput {
        max-width: 7rem;
      }
    }

    .ageInput-container {
      width: 4.5rem;
      justify-self: center;
      .ageInput {
        max-width: 1.5rem;

        &__buttons {
          padding: 0.3rem 0.3rem 0.3rem 0;
          & > * {
            font-size: $fs-s;
          }
        }
      }
    }
  }
}
