@use '../../abstracts/Variables' as *;

.searchManagement{
  width: 60%;
  height: 12rem;
  background-color: $bg-accent-wheat;
  position: relative;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 50px;
}