@use "../../../abstracts/Variables" as *;

.postsDashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: min-content;
  background-color: $bg-primary-light-pink;

  .dashboard {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 70%;
    align-self: center;
    margin-top: 3rem;
  }
}
