@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/josefin-sans/JosefinSans-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: 'Motley Forces';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/motley-forces/MotleyForcesRegular.ttf") format("woff2");
}

@font-face {
  font-family: 'Babycakes';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/babycakes/Babycakes.ttf") format("woff2");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/comfortaa/Comfortaa.ttf") format("woff2");
}