//font families

$ff-headings: 'Babycakes';
// $ff-text: 'Josefin Sans';
$ff-text: 'Josefin Sans';
$ff-tiny-utilities: 'Babycakes';

//font sizes:

$fs-extrs-big-headings: 5rem;
$fs-text: 1.7rem;
$fs-tiny-utilities: 1.8rem;

//font colors:

$clr-primary-dull-wine: #6b2c3c;
$clr-primary-dull-rose: #964555;
$clr-primary-light-pink: #f7cac9;
$clr-primary-white: white;
$clr-accent-wheat: wheat;

//background colors:

$bg-primary-dull-wine: #6b2c3c;
$bg-primary-dull-rose: #964555;
$bg-primary-light-pink: #f7cac9;
$bg-primary-white: white;
$bg-accent-wheat: wheat;


