//font families

$ff-headings: 'Babycakes';
$ff-text: 'Josefin Sans';
$ff-tiny-utilities: 'Babycakes';

//font sizes:

// $fontSizes: (
//   ($fs-extra-big-headings "3rem")
//   ($fs-headings "1.8rem")
//   ($fs-text "1.3rem")
//   ($fs-tiny-utilities "1.3rem")
// );

$fs-extra-big-headings: 3rem;
$fs-headings: 1.8rem;
$fs-text: 1.3rem;
$fs-tiny-utilities: 1.3rem;

//font colors:

$clr-primary-dull-wine: #6b2c3c;
// $clr-primary-dull-wine: #562a35;
$clr-primary-dull-rose: #964555;
$clr-primary-light-pink: #FDC9C9;
$clr-primary-white: white;
$clr-accent-wheat: #fcc4b7;
$clr-accent-wheat2: rgb(252, 252, 228);;

//background colors:

$bg-primary-dull-wine: #6b2c3c;
// $bg-primary-dull-rose: #964555;
$bg-primary-dull-rose: #c4787c;
$bg-primary-light-pink: #f7cac9;
$bg-primary-white: white;
$bg-accent-dull-sakura: #e7babc;

// @media breakpoints:

$bp-extra-small-screen: 360px;
$bp-small-screen: 768px;
$bp-medium-screen: 890px;
$bp-big-screen: 1100px;
$bp-extra-big-screen: 1200px;


