//font families

$ff-headings: "Babycakes";
$ff-text: "Josefin Sans";
$ff-tiny-utilities: "Babycakes";

//font sizes:

$headingSizes: (
  extra-big-screen: 2.7rem,
  medium-screen: 2.5rem,
  extra-small-screen: 2rem,
);

$fs-xl: clamp(1.8rem, 5vw, 2.7rem);
$fs-l: clamp(1.6rem, 4vw, 2.2rem);
$fs-m: clamp(1.4rem, 2vw, 1.6rem);
$fs-s: clamp(1.2rem, 1.2vw, 1.5rem);
$fs-xs: clamp(1rem, 1.3vw, 1.2rem);
$fs-xxs: clamp(0.8rem, 1vw, 1rem);

//font colors:

$clr-primary-dull-wine: #562a35;
$clr-primary-dull-rose: #aa324a;
$clr-accent-dusty-wine: #a74c59;
$clr-primary-light-pink: #fdc9c9;
$clr-primary-white: white;
$clr-accent-wheat: #fcc4b7;
$clr-accent-light-wheat: rgb(252, 252, 228);
$clr-accent-pink: rgb(255, 163, 186);

//background colors:

$bg-primary-dull-wine: #6b2c3c;
$bg-primary-dull-rose-nav: #964555;
$bg-primary-dull-rose: #c4787c;
$bg-primary-light-pink: #f7cac9;
$bg-primary-white: white;
$bg-accent-dull-sakura: #e7babc;

// @media breakpoints:

$bp-extra-small-screen: 470px;
$bp-very-small-screen: 500px;
$bp-small-screen: 768px;
$bp-medium-screen: 890px;
$bp-big-screen: 1000px;
$bp-extra-big-screen: 1200px;

// box shadows

$box-sh-button: 0px 0px 5px rgba(255, 255, 255, 1),
  0px 0px 10px rgba(255, 196, 199, 0.7), 0px 0px 15px rgba(255, 196, 199, 0.7),
  0px 0px 20px rgba(255, 196, 199, 0.7), 0px 0px 30px rgba(255, 196, 199, 0.7),
  0px 0px 40px rgba(255, 196, 199, 0.7), 0px 0px 55px rgba(255, 196, 199, 0.7),
  0px 0px 75px rgba(255, 196, 199, 0.7);

// text highlights

$text-hightlight-primary: 0px 0px 5px white,
  0px 0px 5px rgba(253, 201, 201, 0.7), 0px 0px 7px rgba(253, 201, 201, 0.7),
  0px 0px 10px rgba(253, 201, 201, 0.7), 0px 0px 15px rgba(253, 201, 201, 0.7),
  0px 0px 20px rgba(253, 201, 201, 0.7), 0px 0px 17px rgba(253, 201, 201, 0.7),
  0px 0px 37px rgba(253, 201, 201, 0.7);
