@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/josefin-sans/JosefinSans-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: "Motley Forces";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/motley-forces/MotleyForcesRegular.ttf") format("woff2");
}
@font-face {
  font-family: "Babycakes";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/babycakes/Babycakes.ttf") format("woff2");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/comfortaa/Comfortaa.ttf") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.gamesDashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #f7cac9;
}
.gamesDashboard .svgUnderIllustration .path-0 {
  animation: pathAnim-0 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 148.92857142857142,162.28571428571428 297.85714285714283,124.57142857142858 400,131 C 502.14285714285717,137.42857142857142 557.5000000000001,188 666,218 C 774.4999999999999,248 936.1428571428571,257.42857142857144 1074,251 C 1211.857142857143,244.57142857142858 1325.9285714285716,222.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 141.5,170.60714285714286 283,141.21428571428572 390,166 C 497,190.78571428571428 569.5,269.75 689,272 C 808.5,274.25 975,199.78571428571428 1108,175 C 1241,150.21428571428572 1340.5,175.10714285714286 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 144.42857142857144,234.14285714285714 288.8571428571429,268.2857142857143 410,259 C 531.1428571428571,249.71428571428572 629.0000000000001,197.00000000000003 734,179 C 838.9999999999999,160.99999999999997 951.1428571428571,177.7142857142857 1070,187 C 1188.857142857143,196.2857142857143 1314.4285714285716,198.14285714285717 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 88.53571428571428,193.03571428571428 177.07142857142856,186.07142857142858 293,194 C 408.92857142857144,201.92857142857142 552.2499999999999,224.74999999999994 701,243 C 849.7500000000001,261.25000000000006 1003.9285714285713,274.92857142857144 1128,267 C 1252.0714285714287,259.07142857142856 1346.0357142857142,229.53571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 148.92857142857142,162.28571428571428 297.85714285714283,124.57142857142858 400,131 C 502.14285714285717,137.42857142857142 557.5000000000001,188 666,218 C 774.4999999999999,248 936.1428571428571,257.42857142857144 1074,251 C 1211.857142857143,244.57142857142858 1325.9285714285716,222.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}

.ageInput-container {
  display: flex;
  position: relative;
  padding: 1rem;
  width: fit-content;
  border-radius: 50px;
  background-color: white;
  font-family: "Babycakes";
}
.ageInput-container .ageInput {
  border: none;
  appearance: textfield;
  padding: 1rem;
  font-family: "Babycakes";
  font-size: 1.8rem;
  color: #6b2c3c;
  width: 5rem;
}
.ageInput-container .ageInput:focus {
  outline: none;
}
.ageInput-container .ageInput__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 0.2rem 1rem 0.2rem 0;
}
.ageInput-container .ageInput__buttons > * {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-family: "Babycakes";
  font-size: 1.8rem;
  color: #964555;
}
.ageInput-container .ageInput__buttons > *:hover {
  color: #FDC9C9;
  cursor: pointer;
}
.ageInput-container .ageInput__buttons > *:active {
  color: #964555;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  font-family: "Babycakes";
  height: min-content;
}
.searchBar__searchInput {
  border: none;
  padding: 1rem;
  font-family: "Babycakes";
  font-size: 1.8rem;
  color: #6b2c3c;
  width: 10rem;
}
.searchBar__searchInput:focus {
  outline: none;
}
.searchBar__searchButton {
  padding: 0.5rem 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}
.searchBar__searchButton:hover {
  cursor: pointer;
}

.searchManagement {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 3fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  width: 70%;
  min-width: 70rem;
  height: 12rem;
  background-color: #e7babc;
  position: relative;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 50px;
}

.header {
  display: grid;
  grid-template-columns: 4fr 3fr;
  justify-content: space-between;
  justify-items: center;
  background-color: #964555;
  height: 100vh;
  min-height: 60rem;
  overflow: hidden;
}
.header__illustration {
  display: block;
  position: relative;
  max-width: 70%;
  align-self: center;
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@media screen and (max-width: 1300px) {
  .header__illustration {
    grid-row: 3;
  }
}
.header__content .article {
  display: grid;
  grid-template-rows: 1fr min-content min-content 1fr;
  grid-auto-rows: unset;
  align-items: center;
  background: #6b2c3c;
  height: 100%;
  border-radius: 50px 0 50px 50px;
  grid-row-start: 1;
}
.header__content .article__heading-container {
  position: relative;
  align-self: end;
}
.header__content .article__heading-container i:nth-of-type(1) {
  transform: translate3d(126px, 80px, 0) rotate(274deg);
  background: hsl(257deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(2) {
  transform: translate3d(-48px, -65px, 0) rotate(276deg);
  background: hsl(50deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(3) {
  transform: translate3d(-94px, 122px, 0) rotate(126deg);
  background: hsl(26deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(4) {
  transform: translate3d(-36px, 87px, 0) rotate(147deg);
  background: hsl(195deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(5) {
  transform: translate3d(-72px, 2px, 0) rotate(227deg);
  background: hsl(324deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(6) {
  transform: translate3d(-73px, -86px, 0) rotate(271deg);
  background: hsl(261deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(7) {
  transform: translate3d(-41px, -62px, 0) rotate(329deg);
  background: hsl(49deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(8) {
  transform: translate3d(-3px, -74px, 0) rotate(344deg);
  background: hsl(250deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(9) {
  transform: translate3d(-74px, 59px, 0) rotate(154deg);
  background: hsl(333deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(10) {
  transform: translate3d(-40px, 48px, 0) rotate(238deg);
  background: hsl(238deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(11) {
  transform: translate3d(105px, -48px, 0) rotate(160deg);
  background: hsl(197deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(12) {
  transform: translate3d(24px, 48px, 0) rotate(139deg);
  background: hsl(282deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(13) {
  transform: translate3d(92px, 56px, 0) rotate(169deg);
  background: hsl(185deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(14) {
  transform: translate3d(-42px, -3px, 0) rotate(270deg);
  background: hsl(178deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(15) {
  transform: translate3d(-13px, -14px, 0) rotate(296deg);
  background: hsl(245deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(16) {
  transform: translate3d(-19px, -56px, 0) rotate(319deg);
  background: hsl(34deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(17) {
  transform: translate3d(130px, 23px, 0) rotate(212deg);
  background: hsl(136deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(18) {
  transform: translate3d(-90px, 133px, 0) rotate(120deg);
  background: hsl(279deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(19) {
  transform: translate3d(108px, -67px, 0) rotate(150deg);
  background: hsl(85deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(20) {
  transform: translate3d(-55px, -67px, 0) rotate(206deg);
  background: hsl(40deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(21) {
  transform: translate3d(61px, -90px, 0) rotate(156deg);
  background: hsl(35deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(22) {
  transform: translate3d(-35px, 83px, 0) rotate(19deg);
  background: hsl(170deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(23) {
  transform: translate3d(-32px, 17px, 0) rotate(315deg);
  background: hsl(156deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(24) {
  transform: translate3d(95px, 41px, 0) rotate(159deg);
  background: hsl(113deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(25) {
  transform: translate3d(102px, -34px, 0) rotate(107deg);
  background: hsl(260deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(26) {
  transform: translate3d(36px, -42px, 0) rotate(214deg);
  background: hsl(270deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(27) {
  transform: translate3d(-24px, -63px, 0) rotate(256deg);
  background: hsl(238deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(28) {
  transform: translate3d(105px, 75px, 0) rotate(122deg);
  background: hsl(326deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(29) {
  transform: translate3d(57px, 42px, 0) rotate(304deg);
  background: hsl(264deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(30) {
  transform: translate3d(-82px, 71px, 0) rotate(214deg);
  background: hsl(256deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(31) {
  transform: translate3d(26px, 120px, 0) rotate(222deg);
  background: hsl(187deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(32) {
  transform: translate3d(-72px, 92px, 0) rotate(145deg);
  background: hsl(31deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(33) {
  transform: translate3d(119px, 106px, 0) rotate(187deg);
  background: hsl(276deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(34) {
  transform: translate3d(-97px, 76px, 0) rotate(46deg);
  background: hsl(109deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(35) {
  transform: translate3d(36px, -48px, 0) rotate(6deg);
  background: hsl(32deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(36) {
  transform: translate3d(120px, 34px, 0) rotate(56deg);
  background: hsl(218deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(37) {
  transform: translate3d(54px, 95px, 0) rotate(132deg);
  background: hsl(290deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(38) {
  transform: translate3d(50px, 97px, 0) rotate(205deg);
  background: hsl(259deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(39) {
  transform: translate3d(-96px, 38px, 0) rotate(103deg);
  background: hsl(157deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(40) {
  transform: translate3d(21px, 60px, 0) rotate(83deg);
  background: hsl(67deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(41) {
  transform: translate3d(-34px, -60px, 0) rotate(15deg);
  background: hsl(316deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(42) {
  transform: translate3d(-97px, 7px, 0) rotate(7deg);
  background: hsl(303deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(43) {
  transform: translate3d(92px, -75px, 0) rotate(300deg);
  background: hsl(34deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(44) {
  transform: translate3d(-54px, 112px, 0) rotate(100deg);
  background: hsl(275deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(45) {
  transform: translate3d(45px, -33px, 0) rotate(159deg);
  background: hsl(245deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(46) {
  transform: translate3d(72px, -31px, 0) rotate(139deg);
  background: hsl(356deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(47) {
  transform: translate3d(61px, 72px, 0) rotate(181deg);
  background: hsl(97deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(48) {
  transform: translate3d(-60px, 74px, 0) rotate(276deg);
  background: hsl(14deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(49) {
  transform: translate3d(-57px, 43px, 0) rotate(214deg);
  background: hsl(145deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.header__content .article__heading-container i:nth-of-type(50) {
  transform: translate3d(-10px, 33px, 0) rotate(325deg);
  background: hsl(328deg, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.header__content .article__heading-container__heading {
  font-size: 5rem;
  font-family: "Babycakes";
  color: rgb(255, 255, 224);
  text-align: center;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3), 0px 0px 2px rgba(250, 218, 94, 0.5), 0px 0px 5px rgba(255, 250, 205, 0.5), 0px 0px 7px rgba(250, 250, 210, 0.7), 0px 0px 7px rgba(255, 255, 255, 0.3), 0px 0px 9px rgba(255, 255, 255, 0.5);
  padding: 2rem 0;
}
@media screen and (max-width: 1300px) {
  .header__content .article__heading-container__heading {
    font-size: 2rem;
  }
}
.header__content .article__heading-container i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 5px;
  height: 20px;
  background: red;
  opacity: 0;
}
.header__content .article__text {
  font-family: "Josefin Sans";
  font-size: 1.7rem;
  color: #f7cac9;
  padding: 5rem 10rem;
}
@media screen and (max-width: 1300px) {
  .header__content .article__text {
    font-size: 1.3rem;
    padding: 2rem 5rem;
  }
}
.header__content .article__button {
  background-color: #f7cac9;
  color: #964555;
  justify-self: center;
  align-self: start;
}
@media screen and (max-width: 1300px) {
  .header__content .article {
    position: relative;
    padding-top: 5rem;
    top: 0;
    border-radius: initial;
    grid-row: 1;
  }
}
.header__content #menu-checkbox {
  display: none;
}
.header__content label[for=menu-checkbox] {
  display: none;
  color: #6b2c3c;
  padding: 0;
  position: fixed;
}
@media screen and (max-width: 1300px) {
  .header__content label[for=menu-checkbox] {
    display: block;
    width: min-content;
    height: min-content;
    border-radius: 50%;
    z-index: 2;
    top: 2rem;
    right: 2rem;
  }
}
.header__content__menu-btn.button {
  position: relative;
  background-color: #f7cac9;
  padding: 1.1rem;
  user-select: none;
}
@media screen and (max-width: 1300px) {
  .header__content__menu-btn.button {
    display: block;
  }
}
@media screen and (max-width: 1300px) {
  .header__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1300px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 3fr 2fr;
    height: min-content;
  }
}
.header .svgAboveIllustration {
  display: none;
}
@media screen and (max-width: 1300px) {
  .header .svgAboveIllustration {
    display: block;
    width: 100%;
    grid-row: 2;
  }
  .header .svgAboveIllustration .path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 305,202.5 610,205 850,205 C 1090,205 1265,202.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 296.5,185.5 593,171 833,171 C 1073,171 1256.5,185.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 196.5,200 393,200 633,200 C 873,200 1156.5,200 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 288,180.5 576,161 816,161 C 1056,161 1248,180.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 305,202.5 610,205 850,205 C 1090,205 1265,202.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
  }
}

.button {
  display: block;
  border: none;
  border-radius: 50px;
  font-family: "Babycakes";
  font-weight: 800;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: lowercase;
  height: min-content;
  width: min-content;
  white-space: nowrap;
  padding: 30px;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgba(255, 196, 199, 0.7), 0px 0px 15px rgba(255, 196, 199, 0.7), 0px 0px 20px rgba(255, 196, 199, 0.7), 0px 0px 30px rgba(255, 196, 199, 0.7), 0px 0px 40px rgba(255, 196, 199, 0.7), 0px 0px 55px rgba(255, 196, 199, 0.7), 0px 0px 75px rgba(255, 196, 199, 0.7);
}

.dropdown {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  filter: url(#goo);
}
.dropdown__top {
  position: relative;
  width: fit-content;
  min-width: 15rem;
  padding: 35px;
  z-index: 2;
  border: none;
  border-radius: 70px;
  background-color: white;
  color: #6b2c3c;
  font-family: "Babycakes";
  font-size: 1.8rem;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}
.dropdown__top:hover {
  color: #964555;
  cursor: pointer;
}
.dropdown__options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  border-radius: 50px;
  left: 0;
  top: 50%;
  width: 100%;
  min-width: fit-content;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__options-container::before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: 40%;
  height: 40px;
  width: 20px;
}
.dropdown svg {
  width: 0;
  height: 0;
}
.dropdown__options {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  border-radius: 50px;
  top: 50%;
  width: 100%;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.dropdown__options li {
  font-family: "Josefin Sans";
  font-size: 1.7rem;
  font-weight: 300;
  white-space: nowrap;
  user-select: none;
}
.dropdown__options li:hover > .itemLabel {
  color: #964555;
  cursor: pointer;
}
.dropdown__options li:not(li:first-child) {
  margin-top: 15px;
}
.dropdown__options li .itemInput {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  outline: none;
  border: 1px solid #6b2c3c;
  border-radius: 40%;
}
.dropdown__options li .itemInput:hover {
  border-color: #f7cac9;
  cursor: pointer;
}
.dropdown__options li .itemInput:checked {
  border-color: #964555;
  background-color: #f7cac9;
  content: "♡";
}
.dropdown__options li .itemInput:checked ~ .itemLabel {
  color: #6b2c3c;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown .dropdown__input {
  display: none;
}
.dropdown .dropdown__input:checked ~ .dropdown__options-container {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}
.dropdown .dropdown__input:checked ~ .dropdown__options-container .dropdown__options {
  visibility: visible;
  opacity: 1;
}

.innerDropdown {
  position: relative;
  height: min-content;
  display: inline;
}
.innerDropdown__top:hover {
  color: #964555;
  cursor: pointer;
}
.innerDropdown__options-container {
  position: relative;
  height: 0;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.innerDropdown__options-container .innerDropdown__options {
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  font-weight: 300;
  transition: all 0.7s ease-in-out;
  transition: min-height 1s ease-in-out;
}
.innerDropdown__options-container .innerDropdown__options li {
  color: rgb(66, 66, 66);
}
.innerDropdown__options-container .innerDropdown__options li:hover {
  color: #000;
  font-weight: 300;
}
.innerDropdown__input {
  display: none;
}
.innerDropdown__input:checked ~ .innerDropdown__options-container {
  min-height: min-content;
  height: min-content;
  margin-bottom: -15px;
  padding: 2rem 0;
}
.innerDropdown__input:checked ~ .innerDropdown__options-container .innerDropdown__options {
  min-height: min-content;
  height: min-content;
  visibility: visible;
  opacity: 1;
}
.innerDropdown__input:checked ~ .svgFilter {
  display: inline;
}
.innerDropdown .svgFilter {
  display: none;
}

.nav {
  position: absolute;
  right: 8%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.nav__list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 100%;
}
.nav__list-item {
  font-family: "Babycakes";
  font-size: 2.5rem;
  padding: 2rem;
  user-select: none;
}
.nav__list-item:hover {
  text-shadow: 0px 0px 5px white, 0px 0px 10px rgba(253, 201, 201, 0.7), 0px 0px 15px rgba(253, 201, 201, 0.7), 0px 0px 20px rgba(253, 201, 201, 0.7), 0px 0px 30px rgba(253, 201, 201, 0.7), 0px 0px 40px rgba(253, 201, 201, 0.7), 0px 0px 55px rgba(253, 201, 201, 0.7), 0px 0px 75px rgba(253, 201, 201, 0.7);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .nav__list-item {
    font-size: calc(25px + 0.390625vw);
    padding: 0 1rem;
  }
}
@media screen and (max-width: 576px) {
  .nav__list {
    justify-content: left;
    padding: 0.8rem 1rem;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    position: fixed;
    width: 90%;
    height: 10%;
    top: 1.4rem;
    right: 5%;
    background-color: #f7cac9;
    border-radius: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
