@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/josefin-sans/JosefinSans-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: "Motley Forces";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/motley-forces/MotleyForcesRegular.ttf") format("woff2");
}
@font-face {
  font-family: "Babycakes";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/babycakes/Babycakes.ttf") format("woff2");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/comfortaa/Comfortaa.ttf") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.postsDashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f7cac9;
}
.postsDashboard .svgUnderIllustration {
  display: block;
}
.postsDashboard .svgUnderIllustration .path-0 {
  animation: pathAnim-0 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 890px) {
  .postsDashboard .svgUnderIllustration .path-0 {
    animation-duration: 4s;
  }
}
@keyframes pathAnim-0 {
  0% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 148.92857142857142,162.28571428571428 297.85714285714283,124.57142857142858 400,131 C 502.14285714285717,137.42857142857142 557.5000000000001,188 666,218 C 774.4999999999999,248 936.1428571428571,257.42857142857144 1074,251 C 1211.857142857143,244.57142857142858 1325.9285714285716,222.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 141.5,170.60714285714286 283,141.21428571428572 390,166 C 497,190.78571428571428 569.5,269.75 689,272 C 808.5,274.25 975,199.78571428571428 1108,175 C 1241,150.21428571428572 1340.5,175.10714285714286 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 144.42857142857144,234.14285714285714 288.8571428571429,268.2857142857143 410,259 C 531.1428571428571,249.71428571428572 629.0000000000001,197.00000000000003 734,179 C 838.9999999999999,160.99999999999997 951.1428571428571,177.7142857142857 1070,187 C 1188.857142857143,196.2857142857143 1314.4285714285716,198.14285714285717 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 88.53571428571428,193.03571428571428 177.07142857142856,186.07142857142858 293,194 C 408.92857142857144,201.92857142857142 552.2499999999999,224.74999999999994 701,243 C 849.7500000000001,261.25000000000006 1003.9285714285713,274.92857142857144 1128,267 C 1252.0714285714287,259.07142857142856 1346.0357142857142,229.53571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 148.92857142857142,162.28571428571428 297.85714285714283,124.57142857142858 400,131 C 502.14285714285717,137.42857142857142 557.5000000000001,188 666,218 C 774.4999999999999,248 936.1428571428571,257.42857142857144 1074,251 C 1211.857142857143,244.57142857142858 1325.9285714285716,222.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}

.ageInput-container {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  font-family: "Babycakes";
  padding: 0 0 0 1rem;
}
.ageInput-container .ageInput {
  border: none;
  appearance: textfield;
  font-family: "Babycakes";
  font-size: 1.3rem;
  color: #6b2c3c;
  max-width: 3rem;
}
.ageInput-container .ageInput:focus {
  outline: none;
}
.ageInput-container .ageInput__buttons {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.5rem 0.8rem 0;
}
.ageInput-container .ageInput__buttons > * {
  background-color: transparent;
  border: none;
  font-family: "Babycakes";
  font-size: 1.43rem;
  color: #964555;
  height: 1.5rem;
  padding: 0 0.25rem;
}
.ageInput-container .ageInput__buttons > *:hover {
  color: #FDC9C9;
  cursor: pointer;
}
.ageInput-container .ageInput__buttons > *:active {
  color: #964555;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  padding: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  font-family: "Babycakes";
  height: min-content;
}
.searchBar__searchInput {
  border: none;
  font-family: "Babycakes";
  font-size: 1.3rem;
  color: #6b2c3c;
  width: 10rem;
}
.searchBar__searchInput:focus {
  outline: none;
}
.searchBar__searchButton {
  padding: 0.2rem 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}
.searchBar__searchButton:hover {
  cursor: pointer;
}

.searchManagement {
  display: flex;
  column-gap: 2rem;
  width: 70%;
  min-width: 50rem;
  background-color: #e7babc;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 50px;
}

.header {
  background-color: #f7cac9;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
.header .inner-container {
  display: grid;
  justify-items: center;
  background-color: #c4787c;
  overflow: hidden;
  border-radius: 70px;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.header__illustration {
  max-width: 60%;
  animation: floating 3s ease-in-out infinite both;
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.header__content {
  width: 100%;
}
.header__content .article {
  display: grid;
  grid-auto-rows: 1fr 1fr 3fr 1fr;
  grid-auto-rows: unset;
  align-items: center;
  justify-items: center;
}
.header__content .article__heading-container {
  position: relative;
  align-self: end;
}
.header__content .article__heading-container__heading {
  font-size: 3rem;
  font-family: "Babycakes";
  color: rgb(255, 255, 224);
  text-align: center;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3), 0px 0px 2px rgba(250, 218, 94, 0.5), 0px 0px 5px rgba(255, 250, 205, 0.5), 0px 0px 7px rgba(250, 250, 210, 0.7), 0px 0px 7px rgba(255, 255, 255, 0.3), 0px 0px 9px rgba(255, 255, 255, 0.5);
  padding: 5rem 0 1rem 0;
}
.header__content .article__text {
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  color: white;
  padding: 3rem 6rem 5rem 6rem;
}
.header__content .article__button {
  background-color: #f7cac9;
  color: #964555;
  justify-self: center;
  align-self: start;
}
.header__content .svgAboveIllustration {
  display: none;
  grid-row: 2;
}
@media screen and (max-width: 890px) {
  .header__content .svgAboveIllustration {
    grid-row: 3;
  }
  .header__content .svgAboveIllustration .path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 305,202.5 610,205 850,205 C 1090,205 1265,202.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 296.5,185.5 593,171 833,171 C 1073,171 1256.5,185.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 196.5,200 393,200 633,200 C 873,200 1156.5,200 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 288,180.5 576,161 816,161 C 1056,161 1248,180.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 305,202.5 610,205 850,205 C 1090,205 1265,202.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
  }
}
.header__content__menu-btn.button {
  position: relative;
  background-color: #f7cac9;
  padding: 1.1rem;
  user-select: none;
}

@media screen and (max-width: 1100px) {
  .header {
    height: min-content;
  }
  .header .inner-container {
    height: min-content;
  }
  .header__illustration {
    grid-row: 2;
    margin-bottom: 1rem;
    max-width: 70%;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    height: min-content;
    padding: 1.5rem;
  }
  .header .inner-container {
    height: min-content;
    padding-top: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: min-content;
  }
  .header__illustration {
    max-width: 60%;
    animation: floating 3s ease-in-out infinite both;
    margin-bottom: 2rem;
    max-width: 50%;
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
  .header__content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: min-content;
  }
  .header__content .article__heading-container__heading {
    font-size: 2rem;
    padding-top: 0;
  }
  .header__content .article__text {
    font-size: 1.1rem;
    padding: 2rem 0 0 0;
    text-align: center;
  }
  .header__content .article__button {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1.1rem;
  }
  .header__content__menu-btn.button {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .inner-container {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 100vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
.button {
  display: block;
  border: none;
  border-radius: 50px;
  font-family: "Babycakes";
  font-weight: 800;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: lowercase;
  height: min-content;
  width: min-content;
  white-space: nowrap;
  padding: 30px;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgba(255, 196, 199, 0.7), 0px 0px 15px rgba(255, 196, 199, 0.7), 0px 0px 20px rgba(255, 196, 199, 0.7), 0px 0px 30px rgba(255, 196, 199, 0.7), 0px 0px 40px rgba(255, 196, 199, 0.7), 0px 0px 55px rgba(255, 196, 199, 0.7), 0px 0px 75px rgba(255, 196, 199, 0.7);
}

.dropdown {
  display: flex;
  filter: url(#goo);
}
.dropdown__top {
  width: fit-content;
  min-width: 10rem;
  padding: 1.5rem;
  z-index: 2;
  border: none;
  border-radius: 70px;
  background-color: white;
  color: #6b2c3c;
  font-family: "Babycakes";
  font-size: 1.3rem;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}
.dropdown__top:hover {
  color: #964555;
  cursor: pointer;
}
.dropdown__options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  border-radius: 50px;
  left: 0;
  top: 50%;
  width: 100%;
  min-width: fit-content;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__options-container::before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: 40%;
  height: 40px;
  width: 20px;
}
.dropdown svg {
  width: 0;
  height: 0;
}
.dropdown__options {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  border-radius: 50px;
  top: 50%;
  width: 100%;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.dropdown__options li {
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  font-weight: 300;
  white-space: nowrap;
  user-select: none;
}
.dropdown__options li:hover > .itemLabel {
  color: #964555;
  cursor: pointer;
}
.dropdown__options li:not(li:first-child) {
  margin-top: 15px;
}
.dropdown__options li .itemInput {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  outline: none;
  border: 1px solid #6b2c3c;
  border-radius: 40%;
}
.dropdown__options li .itemInput:hover {
  border-color: #f7cac9;
  cursor: pointer;
}
.dropdown__options li .itemInput:checked {
  border-color: #c4787c;
  background-color: #f7cac9;
  content: "♡";
}
.dropdown__options li .itemInput:checked ~ .itemLabel {
  color: #6b2c3c;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown .dropdown__input {
  display: none;
}
.dropdown .dropdown__input:checked ~ .dropdown__options-container {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}
.dropdown .dropdown__input:checked ~ .dropdown__options-container .dropdown__options {
  visibility: visible;
  opacity: 1;
}

.innerDropdown {
  position: relative;
  display: inline;
}
.innerDropdown__top:hover {
  color: #964555;
  cursor: pointer;
}
.innerDropdown__options-container {
  position: relative;
  height: 0;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.innerDropdown__options-container .innerDropdown__options {
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  font-weight: 300;
  transition: all 0.7s ease-in-out;
  transition: min-height 1s ease-in-out;
}
.innerDropdown__options-container .innerDropdown__options li {
  color: rgb(66, 66, 66);
}
.innerDropdown__options-container .innerDropdown__options li:hover {
  color: #000;
  font-weight: 300;
}
.innerDropdown__input {
  display: none;
}
.innerDropdown__input:checked ~ .innerDropdown__options-container {
  min-height: min-content;
  height: min-content;
  margin-bottom: -15px;
  padding: 2rem 0;
}
.innerDropdown__input:checked ~ .innerDropdown__options-container .innerDropdown__options {
  min-height: min-content;
  height: min-content;
  visibility: visible;
  opacity: 1;
}
.innerDropdown__input:checked ~ .svgFilter {
  display: inline;
}
.innerDropdown .svgFilter {
  display: none;
}

.nav {
  position: absolute;
  top: 5%;
  right: 2%;
  overflow: hidden;
  z-index: 1;
  width: min-content;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
}
.nav__list-item {
  font-family: "Babycakes";
  font-size: 1.8rem;
  padding: 2rem;
  user-select: none;
}
.nav__list-item:hover {
  text-shadow: 0px 0px 5px white, 0px 0px 5px rgba(253, 201, 201, 0.7), 0px 0px 7px rgba(253, 201, 201, 0.7), 0px 0px 10px rgba(253, 201, 201, 0.7), 0px 0px 15px rgba(253, 201, 201, 0.7), 0px 0px 20px rgba(253, 201, 201, 0.7), 0px 0px 17px rgba(253, 201, 201, 0.7), 0px 0px 37px rgba(253, 201, 201, 0.7);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav__list-item {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__list {
    justify-content: left;
    padding: 0.8rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
    justify-content: center;
    width: 90%;
    height: 10%;
    top: 1.2rem;
    right: 5%;
    background-color: #f7cac9;
    border-radius: 50px;
  }
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .nav {
  display: flex;
}

label[for=menu-checkbox] {
  display: none;
  color: white;
  padding: 0;
  position: fixed;
}
@media screen and (max-width: 890px) {
  label[for=menu-checkbox] {
    display: block;
    width: min-content;
    height: min-content;
    border-radius: 50%;
    z-index: 2;
    top: 2rem;
    right: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
