@use "../../abstracts/Variables" as *;

.post-container {
  background-color: $bg-primary-light-pink;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: min-content;
  padding: 10% 0 5rem 0;

  & .card.post {
    width: 70%;
    height: 80%;
  }
}
