@use "../../abstracts/Variables" as *;

.post-container {
  background-color: $bg-primary-light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: min-content;
  min-height: 100vh;
  padding: 15% 0 10% 0;

  & .card.post {
    width: 70%;
  }
}
