@use "../../abstracts/Variables" as *;

@function fontSize($arrayOfFontSizes, $screenSize) {
  @return map-get($arrayOfFontSizes, $screenSize);
}

.header {
  background-color: $bg-primary-light-pink;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .inner-container {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $bg-primary-dull-rose;
    overflow: hidden;
    border-radius: 70px;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }

  &__illustration {
    max-width: 60%;
    animation: floating 3s ease-in-out infinite both;

    @keyframes floating {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(0, 20px);
      }
      100% {
        transform: translate(0, -0px);
      }
    }
  }

  &__content {
    width: 100%;

    .article {
      display: grid;
      grid-auto-rows: unset;
      align-items: center;
      justify-items: center;

      &__heading-container {
        position: relative;
        align-self: end;

        &__heading {
          font-size: $fs-xl;
          font-family: $ff-headings;
          color: rgba(255, 255, 224);
          text-align: center;
          text-shadow: 0px 0px 2px rgba(white, 0.3),
            0px 0px 2px rgba(250, 218, 94, 0.5),
            0px 0px 5px rgba(255, 250, 205, 0.5),
            0px 0px 7px rgba(250, 250, 210, 0.7), 0px 0px 7px rgba(white, 0.3),
            0px 0px 9px rgba(white, 0.5);
        }
      }

      &__text {
        font-family: $ff-text;
        font-size: $fs-s;
        color: $clr-primary-white;
        padding: 3rem 6rem 5rem 6rem;
      }

      &__button {
        background-color: $bg-primary-light-pink;
        font-size: $fs-m;
        color: $clr-primary-dull-rose;
        justify-self: center;
        align-self: start;
      }
    }
  }
}

@media screen and (min-width: $bp-extra-big-screen) {
  .header {
    min-height: 40rem;
    height: 100vh;
    .inner-container {
      grid-template-columns: 4fr 3fr;
    }

    &__content {
      padding-top: 7rem;
      .article {
        &__text {
          font-size: 1.3rem;
          padding-top: 3rem;
          max-width: 50rem;
        }

        &__button {
          margin: 0 0 1rem 0;
          padding: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-extra-big-screen) {
  .header {
    min-height: 100vh;
    height: min-content;
    padding: 2.5rem;

    .inner-container {
      padding-top: 10rem;
    }

    &__illustration {
      grid-row: 2;
      max-width: 50%;
      max-height: 80%;
    }
    &__content {
      .article {
        &__button {
          margin: 0 0 1rem 0;
          padding: 1.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-big-screen) {
  .header {
    .inner-container {
      padding-top: 6rem;
    }

    &__content {
      &__button {
        margin: 0 0 1rem 0;
        padding: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: $bp-medium-screen) {
  .header {
    .inner-container {
      padding-top: max(2rem, 8vw);
    }

    &__illustration {
      max-width: 60%;
    }

    &__content {
      .article {
        &__text {
          padding: 2rem;
          width: min(600px, 80%);
          text-align: justify;
        }

        &__button {
          margin: 2rem 0;
          padding: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-small-screen) {
  .header {
    .inner-container {
      padding-top: 2.4rem;
    }
    &__illustration {
      max-width: 70%;
    }
    &__content {
      .article {
        &__text {
          text-align: justify;
          padding: 2rem 0 1rem 0;
          width: min(450px, 100%);
        }
      }
    }
  }
}

@media screen and (max-width: $bp-extra-small-screen) {
  .header {
    padding: 1.3rem;
    &__illustration {
      padding-top: 2rem;
      max-width: 90%;
    }
    &__content {
      .article {
        &__text {
          padding: 1.3rem 0.4rem 0 0.4rem;
        }
      }
    }
  }
}
