@use '../../abstracts/Variables' as *;

.header{
  background-color: $bg-primary-light-pink;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;


  .inner-container{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $bg-primary-dull-rose;
    overflow: hidden;
    border-radius: 70px;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
  
  &__illustration{
    max-width: 60%;  
    animation: floating 3s ease-in-out infinite both;

    @keyframes floating {
      0%{ 
        transform: translate(0, 0);
      }
      50%{ 
        transform: translate(0, 20px);
      }
      100%{
        transform: translate(0, -0px);
      }   
    }
  }

  &__content{
    width: 100%;

    .article{
      display: grid;
      grid-auto-rows: unset;
      align-items: center;
      justify-items: center;

      &__heading-container{
        position: relative;
        align-self: end;

        &__heading {
          font-size: $fs-extra-big-headings;
          font-family: $ff-headings;
          color: rgba(255, 255, 224);
          text-align: center;
          text-shadow: 0px 0px 2px rgba(white, .3),
          0px 0px 2px rgba(250, 218, 94, .5),
          0px 0px 5px rgba(255, 250, 205, .5),
          0px 0px 7px rgba(250, 250, 210, .7),
          0px 0px 7px rgba(white, .3),
          0px 0px 9px rgba(white, .5);
        } 
      }

      &__text {
        font-family: $ff-text;
        font-size: $fs-text;
        color: $clr-primary-white;
        padding: 3rem 6rem 5rem 6rem;
      }

      &__button {
        background-color: $bg-primary-light-pink;
        color: $clr-primary-dull-rose;
        justify-self: center;
        align-self: start;
      }
    }
  }

}

@media screen and (min-width: $bp-extra-big-screen){
  .header{
    height: min-content;
    .inner-container{
      grid-template-columns: 4fr 3fr;
    }
  }

}

@media screen and (max-width: $bp-extra-big-screen){
  .header{
    height: min-content;
    padding: 2.5rem;

    .inner-container{
      padding-top: 10rem;
    }

    &__illustration{
      grid-row: 2;
      max-width: 50%;
      max-height: 80%;
    }
    &__content{

      .article{
        &__text{
          font-size: 1.5rem;
        }

        &__button{
          margin: 0 0 1rem 0;
          padding: 1.7rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-big-screen){
  .header{
    .inner-container{
      padding-top: 6rem;
    }

    &__content{
        &__button{
          margin: 0 0 1rem 0;
          padding: 1.4rem;
          font-size: 1.8rem;
        }
    }
  }
}

@media screen and (max-width: $bp-medium-screen){
  .header{
    .inner-container{
      padding-top: max(2rem, 8vw);
    }

    &__illustration{
      max-width: 60%;
    }
    
    &__content{      
      .article{
        &__heading-container{
          &__heading{
            font-size: 2.7rem;
          }
        }

        &__text{
          font-size: 1.3rem;
          padding: 2rem;
          width: min(600px, 80%);
          text-align: justify;
        }

        &__button{
          margin: 2rem 0;
          padding: 1.3rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-small-screen){
  .header{
    .inner-container{
      padding-top: 2.4rem;
    }
    &__illustration{
      max-width: 70%;
    }
    &__content{
      .article{
        &__text{
          font-size: 1.3rem;
          text-align:justify;
          padding: 2rem 0 1rem 0;
          width: min(450px, 100%);
        }

        &__button{
          font-size: 1.5rem;
        }
      }
    }  
  }
}

@media screen and (max-width: $bp-extra-small-screen){
  .header{
    padding: 1.3rem;
    &__content{
      .article{
        &__heading-container{
          &__heading{
            font-size: 2rem;
          }
        }
      }
    }
    &__illustration{
      padding-top: 2rem;
      max-width: 90%;
    }  
    &__content{
      .article{
        &__text{
          padding: 1.3rem .4rem 0 .4rem;
        }
      }
    }  
  }
}