@use "../../../shared/styles/abstracts/Variables" as *;

.button {
  display: block;
  border: none;
  border-radius: 50px;
  font-family: $ff-tiny-utilities;
  font-weight: 800;
  font-size: $fs-m;
  text-decoration: none;
  text-transform: lowercase;
  height: min-content;
  width: min-content;
  white-space: nowrap;
  padding: 1.5rem;
  user-select: none;

  &:hover {
    cursor: pointer;
    box-shadow: $box-sh-button;
  }
}

@media screen and (max-width: $bp-big-screen) {
  .button {
    font-size: $fs-s;
    padding: 1.5rem;
  }
}

@media screen and (max-width: $bp-medium-screen) {
  .button {
    font-size: $fs-xs;
    padding: 1rem;
  }
}
