@use "../../../shared/styles/abstracts/Variables" as *;

.nav {
  position: fixed;
  width: min-content;
  z-index: 99;

  &__list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &-item {
      font-family: $ff-headings;
      font-size: $fs-m;
      padding: 2rem;
      user-select: none;

      & a {
        white-space: nowrap;
        text-decoration: none;
        text-transform: capitalize;
        color: $clr-accent-light-wheat;
      }

      &:hover {
        text-shadow: 0px 0px 5px rgba($clr-primary-white, 1),
          0px 0px 5px rgba($clr-primary-light-pink, 0.7),
          0px 0px 7px rgba($clr-primary-light-pink, 0.7),
          0px 0px 10px rgba($clr-primary-light-pink, 0.7),
          0px 0px 15px rgba($clr-primary-light-pink, 0.7),
          0px 0px 20px rgba($clr-primary-light-pink, 0.7),
          0px 0px 17px rgba($clr-primary-light-pink, 0.7),
          0px 0px 37px rgba($clr-primary-light-pink, 0.7);
        cursor: pointer;
      }

      .dropdown {
        height: min-content;

        .dropdown__top {
          display: block;
          padding: 0;
          min-width: 0;
          width: min-content;
          height: min-content;
          img {
            width: 2rem;
            height: 2rem;
            display: block;
            margin: auto;
          }
          &:hover {
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
              0px 0px 10px rgba(255, 196, 199, 0.5),
              0px 0px 15px rgba(255, 196, 199, 0.4),
              0px 0px 20px rgba(255, 196, 199, 0.3),
              0px 0px 30px rgba(255, 196, 199, 0.1);
          }
        }
        &__options-container {
          left: -50%;
        }

        &__options {
          padding: 1rem;
          * {
            font-family: $ff-tiny-utilities;
            color: $clr-primary-dull-rose;
            text-shadow: none;
            font-size: $fs-xs;
            *:hover {
              text-shadow: none;
              color: $clr-primary-light-pink;
            }
          }
          .itemInput {
            display: none;
          }
          .itemInput:checked ~ .itemLabel {
            color: $clr-primary-light-pink;
          }
        }
      }
    }
  }
}

#menu-checkbox {
  display: none;
}

label[for="menu-checkbox"] {
  display: none;
  position: fixed;
  top: 4.5rem;
  right: 6%;
  box-shadow: $box-sh-button;
  border-radius: 50%;
  z-index: 100;
  backdrop-filter: blur(5px);

  & a {
    font-family: $ff-tiny-utilities;
    font-weight: 900;
    color: $clr-primary-white;
    font-size: $fs-m;
  }
}

#menu-checkbox:checked ~ label[for="menu-checkbox"] {
  box-shadow: none;
  backdrop-filter: none;
  &:hover,
  .button:hover {
    text-shadow: $text-hightlight-primary;
    box-shadow: none;
  }
}

@media screen and (min-width: $bp-extra-big-screen) {
  .nav {
    background-color: $bg-primary-dull-rose;
    width: 70%;
    left: 15%;
    border-radius: 70px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: min-content;
    margin: 2% 0;
    &__list-item {
      padding: 1.5rem;
      color: $clr-accent-light-wheat;
    }
  }

  .header__content {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    .nav {
      display: flex;
      position: relative;
      margin: 0 auto;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: min-content;
      background-color: transparent;
      top: 0;
      left: 0;
      margin: 0 auto 3rem auto;
      &__list-item {
        padding: 1.5rem;
        color: $clr-accent-light-wheat;
      }
    }
  }
  label[for="menu-checkbox"] {
    display: none;
  }
}

@media screen and (max-width: $bp-extra-big-screen) {
  .nav {
    display: none;
    justify-content: center;
    width: 85%;
    height: min-content;
    right: 7.5%;
    top: 3%;
    background-color: $bg-primary-dull-rose-nav;
    border-radius: 50px;

    &__list-item {
      padding: 1.5rem;
      color: $clr-accent-light-wheat;
    }
  }
  .nav {
    &__list {
      &-item {
        padding: 1rem 2.5rem;
        & * {
          font-size: $fs-m;
        }
      }
    }
  }
  label[for="menu-checkbox"] {
    display: block;
    right: 7.5%;
    top: 2.7%;
    & a {
      padding: 1.5rem;
      font-size: $fs-m;
    }
  }
  #menu-checkbox:checked ~ .nav {
    display: flex;
  }
}

@media screen and (max-width: $bp-big-screen) {
  .nav {
    &__list-item {
      padding: 1rem 1.5rem;
    }
  }
}

@media screen and (max-width: $bp-small-screen) {
  .nav {
    width: 90%;
    right: 5%;
    &__list {
      &-item {
        padding: 1rem 1.2rem;
      }
    }
  }
  label[for="menu-checkbox"] {
    right: 6%;
    top: 3.5%;
    & a {
      padding: 1.3rem;
    }
  }
}

@media screen and (max-width: $bp-very-small-screen) {
  .nav {
    width: 96%;
    right: 2%;

    &__list {
      &-item {
        padding: 1rem 0.7rem;
        & * {
          font-size: $fs-s;
        }
      }
    }

    label[for="menu-checkbox"] {
      right: 3%;
    }
  }
}

@media screen and (max-width: $bp-extra-small-screen) {
  .nav {
    &__list {
      &-item {
        padding: 1rem 5%;
        & * {
          font-size: $fs-xs;
        }
      }
    }
  }
  label[for="menu-checkbox"] {
    right: 1%;
    & a {
      font-size: $fs-xs;
    }
  }
}
