@use "../abstracts/Variables" as *;

.pagination {
  display: flex;
  width: min-content;
  margin: 0 auto 2rem auto;

  .page-number-item {
    &:hover {
      background-color: $bg-accent-dull-sakura;
      border-radius: 70px;
      cursor: pointer;

      .page-number-link {
        color: $clr-primary-dull-rose;
      }
    }
  }

  .page-number-link {
    display: inline-block;
    width: 2.7rem;
    text-align: center;
    font-size: $fs-m;
    color: $clr-primary-dull-rose;
    font-family: $ff-tiny-utilities;
    text-decoration: none;
    user-select: none;
    padding: 0.7rem;
  }

  .clicked-page-link {
    background-color: $bg-accent-dull-sakura;
    border-radius: 70px;
  }
}
